#app-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh;
}

/* #main {
  height: 100%;
} */

header {
  background-color: red;
  color: white;
  height: 5rem;
  flex: none;
}

.main {
  background-color: aquamarine;
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
}

.form {
  display: inline;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label, .form-control, .btn {
  margin: 1rem 2rem;
  height: 2rem;
}

.form-control {
  width: 25%;
}

.form-label {
  display: inline-block;
  line-height: 2rem;
  text-align: center;
}

.mapDiv {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.mapImg {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  height: 100%;
  border: 2px solid black;
  margin: auto;
}

.mapInfo {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid black;
  margin: auto;
  line-height: 1.5rem;
}

.weatherDiv {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  border: 2px solid black;
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.weatherDay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.weatherDay > p {
  padding: 5px;
}

.movieDiv {
  grid-column: 1 / 4;
  grid-row: 5 / 7;
  border: 2px solid black;

}

.movieCarouselItem {
  margin: auto;
}

.movieImg {
  max-height: 12rem;
  margin-top: 1rem;
}

.movieCaption {
  text-justify: center;
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  height: 2rem;
  flex: none;
}

